<?xml version="1.0" encoding="UTF-8"?>

<!--
	This will install the DlMirrorSync.exe file as a Windows Service
	and use the current user name to set the config file path.
	The service runs as local system but will use that config file

	TODO add the ability for the  user to choose the config file path

	should a user really need to change the config file path they can use sc.exe:

	sc.exe config "Data Layer Mirror Sync Service" binPath="C:\Program Files\<path to>\DlMirrorSync.exe <full path to config file>"
-->

<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = "Data Layer Mirror Sync Service" ?>
<?define Manufacturer = "dkackman" ?>
<?define Version = "0.2.0.0" ?>
<?define UpgradeCode = "4E4A92BC-3DA5-4A74-BF8E-D48CFD01010C" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="$(Name)"
			 Manufacturer="$(Manufacturer)"
			 Version="$(Version)"
			 UpgradeCode="$(var.UpgradeCode)"
			 Compressed="true">

		<MediaTemplate EmbedCab="yes" />
		<!-- Allow upgrades and prevent downgrades -->
		<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

		<!-- Define the directory structure -->
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer) !(bind.Property.ProductName)" />
		</StandardDirectory>

		<!-- The files inside this DirectoryRef are linked to
			 the DlMirrorSync directory via INSTALLFOLDER -->
		<DirectoryRef Id="INSTALLFOLDER">

			<!-- Create a single component which is the DlMirrorSync.exe file -->
			<Component Id="AppSettings">
				<File Id="appsettings.json"
					  Source="..\publish\standalone\win-x64\appsettings.json"
					  KeyPath="true" />
			</Component>
			<Component Id="ServiceExecutable" Bitness="always64">

				<!-- Copies the DlMirrorSync.exe file using the
					 project reference preprocessor variables -->
				<File Id="DlMirrorSync.exe"
					  Source="..\publish\standalone\win-x64\DlMirrorSync.exe"
					  KeyPath="true" />

				<!-- Remove all files from the INSTALLFOLDER on uninstall -->
				<RemoveFile Id="ALLFILES" Name="*.*" On="both" />

				<!-- Tell WiX to install the Service -->
				<ServiceInstall Id="ServiceInstaller"
								Type="ownProcess"
								Name="DlMirrorSync"
								DisplayName="$(Name)"
								Description="The Data Layer Mirror Sync Service watches for new chia data layer stores and subscribes to them."
								Start="auto"
								Account="LocalSystem"
								ErrorControl="normal"
								Arguments='"C:\Users\[USERNAME]\.chia\mainnet\config\config.yaml"' />

				<!-- Tell WiX to start the Service -->
				<ServiceControl Id="StartService"
								Start="install"
								Stop="both"
								Remove="uninstall"
								Name="DlMirrorSync"
								Wait="true" />
			</Component>
		</DirectoryRef>

		<!-- Tell WiX to install the files -->
		<Feature Id="Service" Title="DlMirrorSync Setup" Level="1">
			<ComponentRef Id="ServiceExecutable" />
			<ComponentRef Id="AppSettings" />
		</Feature>

	</Package>
</Wix>
